#login{
  /* margin-left: 64%; */
  margin-left: 4%;
  margin-bottom: 2%;
}
#w1{
  margin-bottom: 2%;
  margin-left: 3%;
  border-radius: 50%;
}
#w2{
  margin-bottom: 2%;
  margin-right: 3%;
  margin-left: 50%;

}
#image_main{

}
#ma_un{
  margin-left: 90%;
}
#I{
  margin-top: 1%;
}
#ik{
  color: grey;
  font-family: Arial;
  font-size: 80%;
}
img,#w{display: inline-block;}
#w1,{display: inline-block;}
#w1,#w2,#image_main{display: inline-block;vertical-align: middle};
.main_div{
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  width: 100%;
  height: 100%;
  background-color: red;
  }
  #border2{
    margin-top: 10px;
    width: 100%;
    height: 0.9px;
    background-color: red;
  }
  #border3{
    width: 100%;
    height: 0.9px;
    background-color: grey;



  }
.footer{
/* background-color:  #ff5656; */

width: 100%;
height: 100%;
/* border-top: 3px solid grey;
border-bottom: 3px solid grey; */
}
#img1{
  margin-top: 5%;
  width:100%;
  height: 100px;

}
form[name="Login"] {
  /* display: none; */
  margin-left: 9%;
  border: 2px solid lightgreen;
  width: 80%;
  border-radius: 1%;
}
form[name="Registration"]{
      /* display: none; */
      display: none;
      margin-left: 9%;
      border: 2px solid lightgreen;
      width: 80%;
    }
form[name="Question"]{
          /* display: none; */
          display: none;
      margin-left: 9%;
      border: 3px solid #f1f1f1;
        border: 2px solid lightgreen;
      width: 80%;
        }
label{
  margin-left: 3%;
}
input[type=text], input[type=password] {
  width: 95%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-left: 2%;
}
input[type="checkbox"]{

}
button[type="submit"]{
  margin-left: 10%;
}
button[name="create"]{
      margin-left: 10%;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 40%;
  display: inline-block;
  margin-left: 9%;

}
.cancelbtn{
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 40%;
    display: inline-block;
}

button:hover {
  opacity: 0.8;
}



.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}
/* h2{

  margin-left: 34%;
} */

#u{
   width: 50%;
   margin-left: 30%;
}


h2[name="u1"],h2[name="u2"]{

    display: inline-block;
      margin-left: 5%;
      color: lightblue;}

h2[name="u1"]{
    background-color: lightgreen;
    color: white;}



.container[name="sp"]{
  width: 100%;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
